@import url(https://fonts.googleapis.com/css?family=Cutive+Mono|Sanchez|Quattrocento|Domine|Glegoo);
@import 'style3.css';

@mixin centered() {
  float: none;
  margin: 0 auto;
}

$red: #BA0C2F;
$blue: #006BB6;

body {
  font-size: 100%;
}

p {
  font-size: 1.5em;
}

.container-fluid {
  padding: 0;
  overflow-y: hidden;
  background: white;
  padding-bottom: 20%;

  &.top-layer {
    z-index: 999999;
    position: relative;
    // box-shadow: 5px 5px 10px #888888;
    padding-bottom: 0;
    border-bottom: 3px solid #000;
  }

  &.bottom-layer {
    z-index: -999999;
    background: white;
    border: 0px;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
.main-nav {
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 150;
  position: relative;
  background-color: rgba(0, 0, 0, 0.0);

  .menuBars {
    width: 100%;
    cursor: pointer;
    display: block;
    font-size: 3em;
    color: $blue;

  }

  .logo {
    font-family: "Sanchez", serif;
    cursor: pointer;
    text-align: center;
    color: $blue;
    font-weight: bold;
    font-size: 3em;
  }
}

.main-nav-scrolled {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.0);
  position: fixed;
  width: 10%;
  margin-left: 1%;
  top: 0;
  // border-bottom: 5px dashed $red;
  // border-right: 5px dashed $red;

  .menuBars {
    text-align: center;
  }
}

header {
  height: 70vh;
  // border-bottom: 3px dashed $red;
  overflow-y: hidden;


  .headerBlock {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-left: 11px dashed $red;
    margin-top: 2%;

    h1, h2 {
      padding-left: 8%;
      // margin-left: -100px;
    }

    h1 {
      font-family: "Sanchez", serif;
      // text-align: left;
      margin-top: 20%;
      font-size: 6em;
      color: $blue;
    }

    h2 {
      font-family: "Domine", serif;
      font-weight: 100;
      font-size: 3.5em;
      width: 100%;
      color: $blue;
      padding-bottom: 1%;
    }
  }
}

.sectionTitle {
  text-align: center;
  font-size: 4em;
  color: $red;
  text-shadow: 0px;
}

.workItem {
  font-family: "Sanchez", serif;
  transition: all 1s, ease 1s;
  margin-top: 3%;
  cursor: pointer;

  h1 {
    text-align: center;
    margin-top: 20%;
    display: inline-block;
  }

  p {
    line-height: 1.75em;
    font-family: "Domine", serif;
  }
}

.links {
  list-style-type: none;
  width: 50%;
  padding-left: 5%;
  // margin: 0;
  display: inline-block;

    li {
      display: inline-block;
      font-size: 3em;
      margin-left: 7%;
      margin-right: 7%;

      a {
        color: #333333;
        text-decoration: none;

        &:hover {
          color: $red;
        }
      }
    }
}

.cs-style-3 section img {
  display: inline-block;
  padding: 0;
  height: 50vh;
  border: 2px solid black;
  width: 100%;

  &:hover + .links {
    visibility: visible;
  }
}

.imgNormal {
  -webkit-transition: width 2s, -webkit-transform 2s;
  -moz-transition: width 2s, -moz-transform 2s;
  -ms-transform: width 2s, -ms-transform 2s;
  -o-transform: width 2s, -o-transform 2s;
  transition: width 2s, transform 2s;
}

.description {
    display: inline-block;

    h1 {
      text-align: left;
      color: $red;
    }
}

.invis {
  opacity: 0;
}

.about {
  position: relative;
  background-image: -webkit-linear-gradient(left, hsl(100,100%,300%), rgba(255,255,255,.1) 75%), url("../img/bio3.png");
  background-size: cover;
  z-index: -9999;

  .headerName {
    font-family: "Sanchez", serif;
    opacity: 1;
    color: $blue;
  }

  .body {
    font-family: "Domine", serif;
    line-height: 1.75em;
  }

  .aboutSignoff {
    color: $blue;
    font-family: "Sanchez", serif;
    width: 100%;
  }

}

.sectionTitle {
  font-family: "Sanchez", serif;
  text-shadow: none;
  margin-top: 7%;
}

.parallax {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.contact {
  position: fixed;
  width: 100%;
  bottom: 1px;
  left: 1px;
  padding-bottom: 5%;

  h1 {
    text-align: center;
    font-family: "Sanchez", serif;
  }

  a {
    color: #333;
  }

}

  .btn-5 {
    border: 3px solid black;
  	background: white;
  	overflow: hidden;
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	backface-visibility: hidden;
  }

  .btn-5 h1 {
  	display: inline-block;
    font-size: 2.5em;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
  	width: 100%;
  	height: 100%;
  	-webkit-transition: all 0.3s;
  	-webkit-backface-visibility: hidden;
  	-moz-transition: all 0.3s;
  	-moz-backface-visibility: hidden;
  	transition: all 0.3s;
  	backface-visibility: hidden;
  }

  .btn-5:before {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	line-height: 2;
  	font-size: 180%;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
    content: "\f003";
	  font-family: FontAwesome;
    color: $red;
    font-size: 2.5em;
  }

  .btn-5:active:before {
  	color: #703b87;
  }

  /* Button 5a */
  .btn-5a:hover h1 {
  	-webkit-transform: translateY(300%);
  	-moz-transform: translateY(300%);
  	-ms-transform: translateY(300%);
  	transform: translateY(300%);
  }

  .btn-5a:before {
  	left: 0;
  	top: -100%;
  }

  .btn-5a:hover:before {
  	top: 0;
  }

  // Additional responsive styles /////
  ////////////////////////////////////

  @media screen and (max-width: 850px) {

    .container-fluid {

      &.top-layer {
        margin-bottom: 15%;
      }
    }

      #smlHeaderBlock {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 20%;

      h2 {
        width: 100%;
      }
    }

    #smlHeader {
      height: 75vh;
    }

    .headerName {
      padding-top: 5%;
    }

  }

  @media screen and (min-width: 768px) {

    #contactInfo {
      margin-top: 165px;
    }
  }

  @media screen and (max-width: 768px) {

    .main-nav-scrolled {
      padding: 0;
      background-color: rgba(200, 54, 54, 0.0);
      position: fixed;
      width: 100%;
      top: 0;
      text-align: center;
      margin-left: 0;

      .logo {
        width: 75%;
        display: inline;
        padding: 5%;
      }

      .menuBars {
        width: 25%;
        display: inline;
        padding: 5%;
      }
    }
  }
